
/* estilo del contenedor */
.galeria {
  width: 650px; /* debemos dar un ancho fijo. ir subiendo de 50 en 50 si queremos añadir más fotos. */
  margin: 20px auto;
  overflow: hidden; /* ocultamos lo que sobresalga de las imágenes del contenedor*/
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
  border: 7px solid rgba(189, 188, 188, 0.6);
}

/* estilo para las imágenes de la galería */
.galeria figure {
  position: absolute; /* hace que se superpongan las imágenes */
  top: 0; /* colocamos todas arriba */
  left: 50px; /* !!Ancho de la parte visible!! */
  width: 335px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* estilo inicial para la primera imagen. > selector de hijo directo */
.galeria>figure {
  position: relative;
  left: 0 !important;
}

.galeria img {
  display: block;
  width: 100%;
}

/* estilo para los "controles de navegación" */
.galeria input {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px; /* para cubrir la parte visible de la imagen */
  height: 100%;
  cursor: pointer;
  border: 0;
  padding: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 100;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* escondemos el input cuando está seleccionado */
.galeria input:checked {
  width: 5px;
  left: auto;
  right: 0px;
}

/* mueve las imagenes a la izquierda. ~ selecciona los hermanos siguientes al elemento */
.galeria input:checked ~ figure {
 -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  left: 335px;
} 

/* estilo para la descripción de las imágenes */
.galeria figcaption {
  width: 100%;
  height: 100%;
  background: rgba(87, 73, 81, 0.1);
  position: absolute;
  top: 0px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
} 

.galeria figcaption span {
  position: absolute;
  top: 40%;
  margin-top: -30px;
  right: 20px;
  left: 20px;
  overflow: hidden;
  text-align: center;
  background: rgba(87, 73, 81, 0.3);
  line-height: 20px;
  font-size: 18px; 
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  padding: 20px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
} 

.galeria input:checked + figcaption,
.galeria input:checked:hover + figcaption {
  background: rgba(87, 73, 81, 0);
}

/* hacemos visible el texto de descripción. + selector de hermano adyacente */
.galeria input:checked + figcaption span {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
  filter: alpha(opacity=99);
  opacity: 1;
  top: 50%;
} 

.galeria #ia-selector-last:checked + figcaption span {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
} 

/* sombra al hacer hover sobre input */
.galeria input:hover + figcaption {
  background: rgba(87, 73, 81, 0.3);
}

.galeria input:checked ~ figure input {
  z-index: 1;
}

figure {
  margin: 0;
}

/* --- MEDIA QUERIES --- */

/* Para tables */
@media screen and (max-width: 768px) {
  .galeria {
    width: 90%;
    margin: 15px auto;
    border: 5px solid rgba(189, 188, 188, 0.6);
  }

  .galeria figure {
    width: 100%;
    left: 0;
    position: relative;
    box-shadow: none;
  }

  .galeria img {
    width: 100%;
    height: auto;
  }

  .galeria input {
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
  }

  .galeria figcaption span {
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px;
  }

  /* Desactivamos el efecto de desplazamiento para evitar superposición */
  .galeria input:checked ~ figure {
    left: 0;
  }
}

/* Para móviles */
@media screen and (max-width: 480px) {
  .galeria {
    width: 100%;
    margin: 10px auto;
    border: none;
    background-color: rgb(255, 255, 255);
    /* border: 3px solid rgba(189, 188, 188, 0.5);
    box-shadow: none; */
  }

  .galeria figure img {
    background: rgb(255, 255, 255);
    padding-top: 5%;
  }

  .galeria figure:first-child {
    margin-top: 0;
  }

  .galeria figure {
    width: 100%;
    left: 0;
    position: relative;
    margin-bottom: 10px;
  }

  .galeria img {
    width: 100%;
    height: auto;
  }

  .galeria input {
    display: none; /* Ocultamos los controles táctiles */
  }

  .galeria figcaption {
    background: rgba(87, 73, 81, 0.25);
  }

  .galeria figcaption span {
    position: static;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    padding: 6px;
    margin-top: 5px;
  }

  /* Eliminamos animaciones complejas en móviles */
  .galeria input:checked + figcaption span,
  .galeria input:checked ~ figure {
    left: 0;
    opacity: 1;
    transition: none;
  }
}
